<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <div>
            <a href="{{ path('home') }}"><img class="logo rounded ms-3" src="{{ asset('build/images/logo.png') }}" alt="Logo de la Nîmes'alerie"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chien
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('app_products_dog') }}">Tous les produits</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_products_food_dog') }}">Nourriture</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_products_accessories_dog') }}">Accessoires</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chat
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('app_products_cat') }}">Tous les produits</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_products_food_cat') }}">Nourriture</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_products_accessories_cat') }}">Accessoires</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Panier</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profil')}}">Profil</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <ul class="navbar-nav">
                {% if app.user is null%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>